.modal-wrapper {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-light);
}

.flex {
  display: flex;
}

.modal-alert-body {
  font-size: var(--font-s-md);
  font-weight: var(--font-w-bold);
  gap: 1rem;
}
