/* footer css */

footer {
  background: var(--secondary-400);
  padding: 2rem 0;
  gap: 1rem;
  color: var(--white);
  margin-top: auto;
}

.footer-head {
  font-size: var(--font-s-base);
}

.footer-head-link {
  font-size: var(--font-s-base);
  font-weight: var(--font-w-medium);
  color: var(--active-color);
}

.footer-head-link:hover {
  color: var(--active-hover);
}

/* social media css  */
.social-buttons {
  width: fit-content;
  gap: 1rem;
}

.social-icon {
  padding: 1rem;
  border: 5px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.5s;
  font-size: var(--font-s-xl);
  color: var(--white);
}

.social-icon.github-icon {
  border-color: var(--github-color);
  background-color: var(--github-color);
}

.social-icon.github-icon:hover {
  color: var(--github-color);
  background-color: var(--white);
}

.social-icon.linkedin-icon {
  border-color: var(--linkedin-color);
  background-color: var(--linkedin-color);
}

.social-icon.linkedin-icon:hover {
  color: var(--linkedin-color);
  background-color: var(--white);
}

.social-icon.twitter-icon {
  border-color: var(--twitter-color);
  background-color: var(--twitter-color);
}

.social-icon.twitter-icon:hover {
  color: var(--twitter-color);
  background-color: var(--white);
}
